@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffbeb; /* Changed from black to warm cream */
    --foreground: #171717; /* Changed from white text to dark text */
  }
}

html, body {
  margin: 0;
  padding: 0;
  /* width: 100%; */
  height: 100%;
  /* This prevents the page from being wider than the screen */
  overflow-x: hidden; 
}

body {
  background-color: #fdf6e3;
}